@model VideoEntityFrameworkCore.Models.PessoaJuridica

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>PessoaJuridica</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NomeFantasia)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NomeFantasia)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CpfCnpj)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CpfCnpj)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PessoaId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
