@model IEnumerable<VideoEntityFrameworkCore.Models.ProdutoCategoria>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Categoria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Produto)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Categoria.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Produto.Nome)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProdutoCategoriaId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ProdutoCategoriaId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ProdutoCategoriaId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
